/* define colors */
:root {
    --ocean-blue: #0085b5;
    --ocean-blue-light: #38b5eb;
    --ocean-blue-dark: #003964;
    --ocean-blue-dark-dark: #002545;
}

body {
    background-color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0; 
    font-size: larger;
}

header {
    position: sticky;
    top: 0;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 100%;
    z-index: 1000; 
    height: 100px;
    border-bottom: var(--ocean-blue-dark) solid 4px;
}
h1 {
    color: var(--ocean-blue-dark);
    padding-left: 110px;
}

.nav-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
}
.header-links li {
    list-style-type: none;
}
.header-links a {
    color: var(--ocean-blue-dark);
    text-decoration: none;
    padding: 10px;
    
}
.header-links a:hover {
    color: var(--ocean-blue-light);
    border-bottom: solid 2px var(--ocean-blue-light);
    transition: color 0.2s ease-in-out;
}

.searchbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1.5em;
    height: 40%;
}

.searchbar input {
    padding: .4em;
    font-size: medium;
    border-radius: 1em;
    border: 2px solid var(--ocean-blue);
    margin-right: .5em;
}

.searchbar button {
    padding: .25em 1em;
    border-radius: 1em;
    border: 1px solid var(--ocean-blue-dark-dark);
    background-color: white;
    color: var(--ocean-blue-dark);
    transition: all .2s ease-in-out;
}

.searchbar button:hover {
    background-color: var(--ocean-blue-light);
    color: white;
}

main {
    padding-bottom: 100px;
}

.background-image {
    background-image: url('../images/beach.webp');
    background-size: cover;
    background-position: center bottom 25%;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: around;
    
}
.empty {
    height: 0vh;
    display: flex;
}
.welcome {
    background-color: rgba(255, 255, 255, 0.735);
    color: var(--ocean-blue-dark);
    padding: 30px;
    font-size: 2.5em;
    margin: auto;
    border-radius: 20px;
}

.side-nav {
    position: fixed;
    left: 0;
    width: 100px;
    height: 100%;
    background-color: var(--ocean-blue-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.icon-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%; 
    padding: 20px 0;
    
}

.icon-link:hover {
    background-color: var(--ocean-blue);
    transition: all 0.1s ease;
}

.icon-link a {
    color: white;
    text-decoration: none;
    width: 100%; 
}

.icon-link img {
    width: 50px;
    height: 50px;
    filter: invert(1);
}

.icon-link p {
    color: white;
    font-size: 12px;
    width: 100%; 
    text-align: center;
}

.content {
    font-size: 1.2em;   
    color: var(--ocean-blue-dark);
    margin: auto;
    width: 80%;

}
h2{
    color: var(--ocean-blue-dark);
    padding: 0;
    margin: 0;
    padding: 20px 0;
    border-bottom: var(--ocean-blue) solid 2px;
    margin-bottom: 20px;
}
.wrapper {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 90%;
}
.wrapper img {
    width: 35%;
    height: auto;
    border-radius: 20px;
}

footer {
    background-color: var(--ocean-blue-dark-dark);
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
}
footer ul {
    display: flex;
    justify-content: center;
    padding: 0;
    align-items: center;
    margin: auto;
}
footer li {
    list-style-type: none;
}

footer a {
    color: var(--ocean-blue-light);
    text-decoration: none;
    padding: 10px;
    
}
footer a:hover {
    color: white;
    transition: all 0.2s ease;
}